$color-basic: #FFFFFF;
$color-primary: #000000;
$color-special: #ee1b1b;
$color-accent1: #d3d2d2;
$color-accent2: #2c3e50;

$color-text-default: $color-accent2;
$color-text-placeholder: $color-accent1;

$color-text-error: $color-special;

$color-background-main: $color-basic;
$color-background-error: $color-special;

$color-border-default: $color-primary;
$color-border-error: $color-special;
