$font-size-base: 14px;
$font-size-large: 20px;
$font-size-title: 72px;

$line-height-base: 24px;
$line-height-large: 48px;

$font-weight-thin: 200;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;